.app {
    background-color: azure;
    
}

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4rem;
    padding: 1rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}